version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - run:
          name: install
          command: 'yarn install'
      - run:
          name: test
          command: 'grunt build'
