name: Test
on:
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install modules
        run: npm install

      - name: Lint code
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install modules
        run: npm install

      - name: Cache test data
        id: test-cache
        uses: actions/cache@v4
        with:
          path: packages/tide-predictor/.test-cache
          key: ${{ runner.os }}-test-cache

      - name: Test build
        run: npm run build:all

      - name: Test
        run: npm run coverage:all

      - name: Report coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage/coverage-final.json,./packages/*/coverage/coverage-final.json

      - name: Upload NOAA summary
        uses: actions/upload-artifact@v6
        with:
          name: noaa-benchmarks
          path: noaa-benchmarks.csv
